
@{
    ViewData["Title"] = "ForgotThanks";
}
@{
    Layout = "_LayoutLogin";
}
<div class="card-body">
    <h2>Grazie!</h2>
    <p>Ti abbiamo appena inviato la tua nuova password temporanea</p>
    @Html.ActionLink("clicca qui per tornare al login!","Index","Login")
</div>
