@using Microsoft.AspNetCore.Mvc
@model List<UsersView>
@{
    ViewData["Title"] = "ElencoUtenti";
    Layout = "_LayoutAdmin";
}
<h1 class="section-header">
    <div>Utenti</div>
</h1>
<div class="card card-sm-3">
    <div class=" card-header">
        <h3>
            Elenco utenti registrati
        </h3>
        <br />
    </div>
    <div class="card-body">
        <div id="grid">  </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var data = @(Json.Serialize(Model));
        $("#grid").kendoGrid({
            dataSource: {
                data: data,
                schema: {
                    model: {
                        fields: {
                            id: { type: "number" },
                            nome: { type: "string" },
                            cognome: { type: "string" },
                            email: { type: "string" },
                            doctor: { type: "bool" }
                        }
                    }
                },
                pageSize: 5
            },
            scrollable: false,
            sortable: true,
            filterable: true,
            editable: false,
            pageable: {
                pageSizes: true,
                buttonCount: 5
            },
            columns: [
                { field: "id", editable: true,title: "Id" },
                { field: "nome", editable: true, title: "Nome" },
                { field: "cognome", editable: true, title: "Cognome" },
                { field: "email", editable: true,title: "Email" },
                { field: "doctor", title: "Doctor" },
                { command: { name: "ModificaRuolo", click: Change }, title:"Modifica Ruolo" }
            ]
        });
    })

    function Change(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        
        var i = dataItem.id;
        
        window.location.href = '@Url.Action("UpdateRuolo", "Admin", new { id = "ID", idAdmin= "II"})'.replace("ID", i).replace("II", @User.Claims.ToList().ElementAt(0).Value);
    }
</script>

