@using Microsoft.AspNetCore.Mvc
@model HeartHealthy.Models.Users
@{
    ViewData["Title"] = "UpdatePassword";
}
@{
    Layout = "_LayoutAdmin";
}
<h1 class="section-header">
    <div>Modifica Password</div>
</h1>
<script>
    function validateForm() {
        var curr = document.getElementById('current').value;
        var n = document.getElementById('new').value;
        var n2 = document.getElementById('new2').value;

        if (curr != "@Model.Password") {
            alert("Password corrente errata!");
            return false;
        }

        if (n2 != n) {
            alert("La conferma della nuova password non corrisponde!");
            return false;

        }
        return true;
    }
</script>

@using (Html.BeginForm("ChangePassword", "Admin", new { id = User.Claims.ToList().ElementAt(0).Value }, FormMethod.Post))
{

    @Html.AntiForgeryToken()
    <div class="card card-sm-3">
        <div class="card-body">
            <br />
            <form name="myForm" method="POST">
                <table border="0">
                    <tr></tr>
                    <tr>
                        <td> Password Corrente</td>
                        <td><input type="password" value="" id="current" class="form-control" name="current" required data-eye></td>
                    </tr>
                    <tr>
                        <td> Nuova Password</td>
                        <td><input type="password" value="" id="new" class="form-control" name="new" required data-eye></td>
                    </tr>
                    <tr>
                        <td> Conferma nuova Password</td>
                        <td><input type="password" value="" id="new2" class="form-control" name="Password" required data-eye></td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" class="btn btn-primary btn-lg" onclick="return validateForm();">
                                Modifica
                            </button>
                        </td>
                    </tr>
                </table>

            </form>
            <br />
        </div>
    </div>

}

